body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
header {
  background-color: #333;
  color: #fff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
header .logo {
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
header .logo img {
  height: 47px;
}
header nav ul {
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  display: flex;
}
header nav ul li {
  margin-left: 30px;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding-bottom: 5px;
}

header nav ul li a.active {
  border-bottom: 2px solid #fff;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container is at least the viewport height */
}

.btn {
  display: inline-block !important;
  padding: 10px 20px !important;
  text-decoration: none !important;
  border-radius: 5px !important;
  min-width: 87px;
}

.btn-primary {
  background-color: #e67e22;
  color: white;
}

.btn-primary:hover {
  background: #c76c1d;
}

.fill-contact button {
  display: inline-block !important;
  padding: 10px 20px !important;
  background-color: #e67e22 !important;
  color: white;
  text-decoration: none !important;
  border-radius: 5px !important;
  margin-top: 20px !important;
}

.container-message {
  text-align: center;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.message {
  color: #555;
  line-height: 1.6;
  margin-bottom: 30px;
}

.left-align {
  text-align: left;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-info {
  color: #fff;
}

.contact-info a {
  color: #e67e22;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* More Specific Selector to Override Default Browser Styling */
.contact-info a,
.contact-info a:link,
.contact-info a:visited {
  color: #e67e22; /* Ensure the correct initial color */
  text-decoration-color: #e67e22;
}

.contact-info a:hover {
  color: #c76c1c;
  text-decoration-color: #c76c1c;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: end;
  padding: 20px;
  margin-top: 50px;
}
footer .contact-info {
  margin-bottom: 10px;
}

/* Hamburger Menu Styling (Mobile) */
.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.bar {
  width: 30px;
  height: 3px;
  background-color: #ffffff;
  margin: 3px 0;
}
.nav-menu .nav-links {
  display: flex;
  list-style: none;
}

/* Mobile Responsive */
@media (max-width: 668px) {
  .nav-menu .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  .nav-menu .nav-links li {
    margin: 10px 0;
  }
  .nav-menu .nav-links.active {
    display: flex;
  }
  .hamburger-menu {
    display: flex;
  }
}
